.breadcrumbs {
  margin-bottom: 1em;
}
.breadcrumbs a {
  margin-right: 10px;
}
#board {
  background-color: #d0d2dc;
}
#controlsCont {
  padding: 50px;
}
#controlsCont button {
  margin-bottom: 1.5em;
}